<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-layout-decorator="layout">
<body>
	<!-- /section:basics/content.breadcrumbs -->
	<div layout:fragment="content" >
	<div class="breadcrumbs" id="breadcrumbs">
			<ul class="breadcrumb">
				<li><i class="icon-home home-icon"></i> <a href="#">系统管理</a></li>
				<li class="active">用户管理</li>
			</ul>
			<!-- .breadcrumb -->
		</div>
	<div class="page-content" seq="11">
		<!-- /section:settings.box -->
		<div class="page-content-area">
						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<form class="form-horizontal" role="form" id="dataForm">
									<!-- #section:elements.form -->
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 用户名:</label>
										<div class="col-sm-9">
											<input type="text" name="username" readonly="readonly" class="col-xs-10 col-sm-5" th:value="${userModel.username}">
											<input type="hidden" name="id" th:value="${userModel.id}">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 真实名:</label>
										<div class="col-sm-9">
											<input type="text" name="realname" class="col-xs-10 col-sm-5" th:value="${userModel.realname}"  data-validation-engine="validate[required]">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 电话 :</label>
										<div class="col-sm-9">
											<input type="text" name="tel"  class="col-xs-10 col-sm-5" th:value="${userModel.tel}" maxlength="20" data-validation-engine="validate[required]">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> QQ:</label>
										<div class="col-sm-9">
											<input type="text" name="qq"  class="col-xs-10 col-sm-5"  data-validation-engine="validate[required]" th:value="${userModel.qq}">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="limited">备注：</label>
										<div class="col-sm-9">
											<div class="pos-rel">
												<textarea class="form-control limited autosize-transition" th:text="${userModel.remark}" name="remark" maxlength="50" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 52px;"></textarea>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-tags">状态：</label>
										<div class="col-sm-2">
											<div class="pos-rel">
												<select class="form-control" name="state">
																<option value="1"  th:selected="${userModel.state==1}">可用</option>
																<option value="0"  th:selected="${userModel.state==0}">禁用</option>
															</select>
											</div>
										</div>
									</div>
									<div class="clearfix form-actions">
										<div class="col-md-offset-3 col-md-9">
											<button class="btn btn-info" type="button" onclick="saveData()">
												<i class="ace-icon fa fa-check bigger-110"></i>
												立即提交
											</button>

											&nbsp; &nbsp; &nbsp;
											<button class="btn" type="reset" >
												<i class="ace-icon fa fa-undo bigger-110"><a href="/sys/userIndex">返回</a></i>
												
											</button>
										</div>
									</div>
								</form>

							</div><!-- /.col -->
						</div><!-- /.row -->
					</div>
	</div>
	<script type="text/javascript">
	var loading = false;
	var resetData = null;
	
	$(function(){
		$('#dataForm').validationEngine({
			promptPosition: 'centerRight',
			  scroll: false,
			  binded:false,
			  'custom_error_messages':{"required":{'message':"不能为空"}},
			  promptPosition:'bottomLeft',
			  autoPositionUpdate:true,
			  addPromptClass: 'formError-white',
			  showOneMessage:true
		});
	});
	function saveData(){
		if(loading){
			return false;
		}
		var validateSta = $('#dataForm').validationEngine('validate');
		if(!validateSta){
			return false;
		}
		loading = true;
		$('#dataForm').ajaxSubmit({
            type: 'post',
            url: '/sys/updateUserInfo',
            success: function(data) {
                if(data.code == 0){
                	bootbox.alert("操作成功!",function(){
                		window.location.href = '/sys/userIndex';
                	});
                }else{
                	bootbox.alert("操作失败!");
                }
                loading = false;
            },error:function(a){
            	bootbox.alert("操作失败!");
            	loading = false;
            }			
		});
		return false;
	}
</script>
  <script th:src="@{/assets/js/jquery.form.js}"></script> 
</div>
</body>
</html>