<!doctype html>
<html lang="zh-CN" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>异清轩博客文章页面</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/nprogress.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
<link rel="apple-touch-icon-precomposed" href="images/icon/icon.png">
<link rel="shortcut icon" href="images/icon/favicon.ico">
<script src="/js/jquery-2.1.4.min.js"></script>
<script src="/js/nprogress.js"></script>
<script src="/js/jquery.lazyload.min.js"></script>
<!--[if gte IE 9]>
  <script src="/js/jquery-1.11.1.min.js" type="text/javascript"></script>
  <script src="/js/html5shiv.min.js" type="text/javascript"></script>
  <script src="/js/respond.min.js" type="text/javascript"></script>
  <script src="/js/selectivizr-min.js" type="text/javascript"></script>
<![endif]-->
 <script th:src="@{/js/handlebars.min.js}"></script>
 <script th:src="@{/js/page.js}"></script>
</head>
<body class="user-select single">
<div th:replace="layout/header :: header"></div>
<section class="container">
  <div class="content-wrap">
    <div class="content">
      <header class="article-header">
        <h1 class="article-title"><a href="#"><span th:text="${bArticle.title}"></span></a></h1>
        <div class="article-meta"> <span class="item article-meta-time">
          <time class="time" data-toggle="tooltip" data-placement="bottom" title="时间：2016-1-4 10:29:39"><i class="glyphicon glyphicon-time"></i> 2016-1-4 10:29:39</time>
          </span> <span class="item article-meta-source" data-toggle="tooltip" data-placement="bottom" title="来源：第一PHP社区"><i class="glyphicon glyphicon-globe"></i> 第一PHP社区</span> <span class="item article-meta-category" data-toggle="tooltip" data-placement="bottom" title="栏目：后端程序"><i class="glyphicon glyphicon-list"></i> <a href="program" title="">后端程序</a></span> <span class="item article-meta-views" data-toggle="tooltip" data-placement="bottom" title="查看：120"><i class="glyphicon glyphicon-eye-open"></i> 共120人围观</span> <span class="item article-meta-comment" data-toggle="tooltip" data-placement="bottom" title="评论：0"><i class="glyphicon glyphicon-comment"></i> 0个不明物体</span> </div>
      </header>
      <article class="article-content">
         <span th:text="${bContent.content}"></span>
        <p class="article-copyright hidden-xs">未经允许不得转载：» <a href="#"><span th:text="${bArticle.title}"></span></a></p>
      </article>
      <div class="relates">
        <div class="title">
          <h3>相关推荐</h3>
        </div>
        <ul>
           <li th:each="art: ${relationArticle}"><a th:href="@{'/article/articleDetailIndex/'+${art.id}}" ><span th:text="${art.title}"></span></a></li>
        </ul>
      </div>
      <div class="title" id="comment">
        <h3>评论 <small>抢沙发</small></h3>
      </div>
      <!--<div id="respond">
        <div class="comment-signarea">
          <h3 class="text-muted">评论前必须登录！</h3>
          <p> <a href="javascript:;" class="btn btn-primary login" rel="nofollow">立即登录</a> &nbsp; <a href="javascript:;" class="btn btn-default register" rel="nofollow">注册</a> </p>
          <h3 class="text-muted">当前文章禁止评论</h3>
        </div>
      </div>-->
      <div id="respond">
         <form  method="post" id="comment-form">
          <div class="comment">
             <shiro:user>  
            <div class="comment-title"><img class="avatar" src="/images/icon/icon.png" alt="" /></div>
            <div class="comment-box">
              <textarea placeholder="您的评论可以一针见血" name="comment" id="comment-textarea" cols="100%" rows="3" tabindex="1" ></textarea>
              <div class="comment-ctrl"> <span class="emotion"><img src="/images/face/5.png" width="20" height="20" alt="" />表情</span>
                <div class="comment-prompt"> <i class="fa fa-spin fa-circle-o-notch"></i> <span class="comment-prompt-text"></span> </div>
                <input type="hidden" value="1" class="articleid" />
                <button type="submit" name="comment-submit" id="comment-submit" tabindex="5" articleid="1">评论</button>
              </div>
            </div>
           </shiro:user>
          </div>
          </form>
      <shiro:guest>
                                                            想对作者说点什么？ <a onclick="toLogin()">我来说一句</a>
      </shiro:guest>
      </div>
      <div id="postcomments">
        <ol class="commentlist" id="myData">
        </ol>
        
        <div class="quotes" id="myPage"></div>
      </div>
    </div>
  </div>
   <div th:replace="layout/leftbar :: leftbar"></div>
</section>
<div th:replace="layout/footer :: footer"></div>
 <!--登录注册模态框-->
<div class="modal fade user-select" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="/Admin/Index/login" method="post">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="loginModalLabel">登录</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="loginModalUserNmae">用户名</label>
            <input type="text" class="form-control" id="loginModalUserNmae" placeholder="请输入用户名" autofocus maxlength="15" autocomplete="off" required>
          </div>
          <div class="form-group">
            <label for="loginModalUserPwd">密码</label>
            <input type="password" class="form-control" id="loginModalUserPwd" placeholder="请输入密码" maxlength="18" autocomplete="off" required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary" onclick="login()">登录</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="/js/bootstrap.min.js"></script> 
<script src="/js/jquery.ias.js"></script> 
<script src="/js/scripts.js"></script> 
<script src="/js/jquery.qqFace.js"></script> 
<script th:inline="javascript">
$(function(){
	query({id:'[[${bArticle.id}]]'});
 });  
 
 function query(params){
	 $curs = params;
	 $.ajax({
			type : "POST",
			url : '/article/getArticleComments',
			data : params,
			dataType : 'json',
			success : function(data) {
				$('#myData').empty();
				var template = Handlebars.compile($("#dataTemplate")
						.html());
				var $tr = template(data.list);
				$('#myData').append($tr);
				pagePlugin('myPage', data.pages,
						data.pageNum, data.total, jumpPage);
			}
		});
 }
 function login(){
	$.ajax({
			type : "POST",
			url : '/login',
			data : {username:$("#loginModalUserNmae").val(),password:$("#loginModalUserPwd").val()},
			dataType : 'json',
			success : function(data) {
				if(data.code==0){
					window.location.reload();
				}
			}
		});
	}

 function toLogin() {
		$('#loginModal').modal('show');
 }
</script>
 <script id="dataTemplate" type="text/x-handlebars-template">
	   {{#each this}}
		 <li class="comment-content"><span class="comment-f"></span>
            <div class="comment-avatar"><img class="avatar" src="/images/icon/icon.png" alt="" /></div>
            <div class="comment-main">
              <p ><span class="address">{{username}}</span><span class="time">{{createTime}}</span><br/>
                         <span>{{content}}</span>
              </p>
            </div>
          </li>
	  {{/each}}
	</script>
</body>
</html>