<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>登录 </title>

<link href="/css/login.css" rel="stylesheet" type="text/css" media="all" />

<script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript">
$(document).ready(function(c) {
	$('.alert-close').on('click', function(c){
		$('.message').fadeOut('slow', function(c){
	  		$('.message').remove();
		});
	});	  
});
</script>

</head>
<body>

<div class="message warning">
	<div class="inset">
		<div class="login-head">
			<h1>用户登录</h1>
			<div class="alert-close"></div> 			
		</div>
		
		<form action="/login" method="POST">
			<ul>
				<li><input type="text"  name="username" class="text" value="用户名" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = '用户名';}"><a href="#" class=" icon user"></a></li>
				<li><input type="password" value="" name="password" /> <a href="#" class="icon lock"></a></li>
				<li><input type="hidden" th:value="${indexUrl}" name="indexUrl"/></li>
			</ul>
			
			<div class="submit">
				<input type="submit" onClick="myFunction()" value="登录" >
				<h4><a href="#">忘记密码?</a></h4>
				<div class="clear">  </div>	
			</div>
		</form>
	</div>					
</div>

<!--- footer --->
<div class="footer">
	<p>Copyright &copy; 2018.</p>
</div>

<div style="text-align:center;">
<p>更多模板：<a href="http://www.mycodes.net/" target="_blank">源码之家</a></p>
</div>
</body>
</html>