<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div class="sidebar" id="sidebar" th:fragment="sidebar">
		<div class="sidebar-shortcuts" id="sidebar-shortcuts">
			<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
				<span class="btn btn-success"></span> <span class="btn btn-info"></span>

				<span class="btn btn-warning"></span> <span class="btn btn-danger"></span>
			</div>
		</div>
		<!-- #sidebar-shortcuts -->

		 <ul class="nav nav-list" id="menuList">
			<li class="active"><a href="/index"> <i
					class="icon-dashboard"></i> <span class="menu-text"> 首页 </span>
			</a></li>
             
			<li><a href="/sys/userIndex"> <i class="icon-text-width"></i>
					<span class="menu-text"> 系统管理 </span>
			</a></li>
		</ul>
		<!-- /.nav-list -->
		
		<script type="text/javascript">
              $(function liOnclik(){
            	  $.session.set('key', 'value');
            	  $('#menuList').on('click','li',function(){
            		    $(this).addClass("active");
            		})
              }) 		  
		</script>
	</div>
</body>
</html>