<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<title>控制台 -cms管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}" />
		<link rel="stylesheet" th:href="@{/assets/css/font-awesome.min.css}" />
		<link rel="stylesheet" th:href="@{/assets/css/ace.min.css}" id="main-ace-style" />
		<!--[if lte IE 9]>
			<link rel="stylesheet" th:href="@{/css/ace-part2.min.css}" />
		<![endif]-->
		<link rel="stylesheet" th:href="@{/assets/css/ace-skins.min.css}" />
		<link rel="stylesheet" th:href="@{/assets/css/ace-rtl.min.css}" />
		<link rel="stylesheet" th:href="@{/assets/css/validationEngine.jquery.css}">
		<!--[if lte IE 9]>
		  <link rel="stylesheet" th:href="@{/assets/css/ace-ie.min.css}" />
		<![endif]-->
		
        <!--[if lte IE 8]>
		<script th:src="@{/assets/js/html5shiv.min.js}"></script>
		<script th:src="@{/assets/js/respond.min.js}"></script>
		<![endif]-->
		<!--[if !IE]> -->
			<script type="text/javascript" th:src='@{/assets/js/jquery.min.js}'></script>
		<!-- <![endif]-->
		<!--[if IE]>
			<script type="text/javascript" th:src='@{/assets/js/jquery1x.min.js}'>
			</script>
		<![endif]-->
		<script type="text/javascript" th:src='@{/assets/js/jquery.mobile.custom.min.js}'></script>
		<script th:src="@{/assets/js/bootstrap.min.js}"></script>
		<script th:src="@{/assets/js/bootbox.min.js}"></script>
		<!--[if lte IE 8]>
		  <script th:src="@{/assets/js/excanvas.min.js}"></script>
		<![endif]-->
		<script th:src="@{/assets/js/jquery-ui.custom.min.js}"></script>
		<script th:src="@{/assets/js/jquery.ui.touch-punch.min.js}"></script>
		<script th:src="@{/assets/js/ace.min.js}"></script>
		<script th:src="@{/assets/js/handlebars.min.js}"></script> 
		<script th:src="@{/assets/js/jquery.validationEngine.js}"></script> 
		<script th:src="@{/assets/js/jquery.validationEngine-zh_CN.js}"></script> 
		<script th:src="@{/assets/js/datepicker/WdatePicker.js}"></script> 
</head>

<body class="no-skin">
		 <div th:replace="layout/header :: header"></div>
		<!-- /section:basics/navbar.layout -->
		<div class="main-container" id="main-container">
            <div th:replace="layout/sidebar :: sidebar"></div>
			<!-- /section:basics/sidebar -->
			<div class="main-content" id="content">
			
				<div layout:fragment="content" ></div>
			</div><!-- /.main-content -->

			<div class="footer">
				<div class="footer-inner">
					<!-- #section:basics/footer -->
					<div class="footer-content">
						<span class="bigger-120">
							 统一开发平台-UI库 &copy; 2014  更多模板：<a href="http://www.mycodes.net/" target="_blank">源码之家</a>
						</span>
					</div>

					<!-- /section:basics/footer -->
				</div>
			</div>

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->
	<script type="text/javascript">
		$(function() {
			initSelectItem();
		})
		
		function initSelectItem(){
			$("#sidebar li").each(function(){
		    	$(this).removeClass("active");
		    });
			var seq = $("#content").find("div[class='page-content']").attr("seq");
			$("#"+seq).addClass("active");
			$("#"+seq).parent().parent().addClass("open");
			$("#"+seq).parent().addClass("nav-show");
			$("#"+seq).parent().css('display','block'); 
		}
	</script>
</body>
</html>