<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"
	default-lazy-init="false">

	<description>Shiro安全配置</description>
	<!-- Shiro's main business-tier object for web-enabled applications -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="shiroDbRealm" />
		<property name="cacheManager" ref="shiroEhcacheManager" />
		<property name="sessionManager">
			<bean class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
				<property name="globalSessionTimeout">
					<value>3600000</value>
				</property>
			</bean>
		</property>
	</bean>

	<!-- 項目自定义的Realm, 所有accountService依赖的dao都需要用depends-on声明 -->
	<bean id="shiroDbRealm" class="cn.yh.st.blog.agent.web.shiro.ShiroRealm">
		<property name="credentialsMatcher">
			<bean class="cn.yh.st.blog.agent.web.shiro.CustomCredentialsMatcher" />
		</property>
		<property name="blogApiService" ref="blogApiService"></property>
	</bean>

	<!-- 用户授权信息Cache, 采用EhCache，本地缓存最长时间应比中央缓存时间短一些，以确保Session中doReadSession方法调用时更新中央缓存过期时间 -->
	<bean id="shiroEhcacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
		<property name="cacheManagerConfigFile" value="classpath:ehcache-shiro.xml" />
	</bean>
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<property name="loginUrl" value="/login" />
		<property name="successUrl" value="/index" />
		<property name="filterChainDefinitions">
			<value>
				/login = authc
				/loginOut=logout
				/css/**=anon
				/fonts/**=anon
				/images/**=anon
				/js/**=anon
				/kindeditor/**=anon
				/article/**=anon
				/index =anon
				/** = authc
			</value>
		</property>
	</bean>
	<!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />
</beans>